<div class="tagline" title=" <%= post.created_at %> ">
  submitted <%= time_ago_in_words post.created_at %> ago
  to <%= link_to post.category.name, category_path(post.category) %>
</div>
<ul class="actions">
  <% if display_details %>
  <li> <%= link_to "details", post_path(post) %> </li>
  <% end %>
  <li> <%= link_to "edit", edit_post_path(post) %> </li>
  <li> <%= link_to "delete", post_path(post), method: :delete, data: { confirm: "Are you sure? Not even Neo can bring this back." } %> </li>
</ul>
